body {
    background-color: rgb(255, 217, 0);
    font-family: Arial, sans-serif;
}

nav {
    background: black;
    padding: 10px;
    margin-bottom: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

video {
    display: block;
    width: 400px;
    margin: 20px 0;
    border-radius: 15px;
}

div {
    background-color: rgb(236, 25, 25);
    margin: 25px;
    border: 5px solid black;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    display: inline-block;
    transition: 1s;
    text-align: center;
    line-height: 200px;
    font-size: 18px;
}

div:hover {
    background-color: aqua;
    border-radius: 50%;
    transform: rotate(990deg);
}

