
div {
    background-color: rgb(236, 25, 25);
    margin: 25px;
    border: 5px solid black;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    display: inline-block;
    transition: 1s;
    /* transition-delay: 2s ; */
}
div:hover{
    background-color: aqua;
    border-radius: 50%;
    transform: rotate(990deg);
}